<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template is working</title>
</head>
<body>
<h1>Welcome to Text Analyzer</h1> 
<form action='/analyze' method='get'>
    <textarea name="text" style="margin: 0px; width: 1148px; height: 108px;" 0px;="" width:="" 721px;="" height:="" 93px;'=""></textarea><br>
    <input type="checkbox" name="xyz">Remove punc<br>
    <input type="checkbox" name="fullcaps">Capital<br>
    <input type="checkbox" name="newline">New Line Remover<br>
    <input type="checkbox" name="spaceremover">Space Remover<br>
    <input type="checkbox" name="charcount">Character Count<br>
    <button type='submit'>Submit</button>

</form>
</body>
</html>    